{% extends "base.html" %}
{% block content %}

<div class="container-flud">
	<div class="row">
		<div class="col-md-12">
			<img src="https://via.placeholder.com/1500x700" alt="placeholder image for graph">
		</div>
	</div>
	<form method="POST">
		<div class="form-row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="input1">Label 1</label>
					<select class="form-control" id="input1">
						<option>Placeholder1</option>
						<option>Placeholder1</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="input2">Label 2</label>
					<select class="form-control" id="input2">
						<option>Placeholder1</option>
						<option>Placeholder1</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="input2">Label 3</label>
					<select class="form-control" id="input3">
						<option>Placeholder1</option>
						<option>Placeholder1</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="input2">Label 4</label>
					<select class="form-control" id="input4">
						<option>Placeholder1</option>
						<option>Placeholder1</option>
					</select>
				</div>
			</div>
		</div>
	</form>

</div>

{% endblock %} 